<footer>
  <ul>
    <li><small>&copy; 2015 GitHub, Inc.</small></li>
    <li><a href="https://github.com/site/terms">Terms</a></li>
    <li><a href="https://github.com/site/privacy">Privacy</a></li>
    <li><a href="https://github.com/site/security">Security</a></li>
    <li><a href="https://github.com/site/contact">Contact</a></li>
  </ul>
  <span class="octicon octicon-mark-github last-logo"><em>REMIX</em></span>
  <ul class="right">
    <li><a href="https://status.github.com">Status</a></li>
    <li><a href="https://developer.github.com">API</a></li>
    <li><a href="https://status.github.com">Training</a></li>
    <li><a href="https://status.github.com">Shop</a></li>
    <li><a href="https://github.com/blog">Blog</a></li>
    <li><a href="https://github.com/about">About</a></li>
  </ul>
</footer>
