<nav>
  <a href="https://github.com"><span class="octicon octicon-mark-github"></span></a>
  <input type="search" name="search-github" placeholder="Search GitHub">
  <div class="navbar-general">
    <a href="https://github.com/explore"><span>Explore</span></a>
    <a href="https://gist.github.com"><span>Gist</span></a>
    <a href="https://github.com/blog"><span>Blog</span></a>
    <a href="https://help.github.com"><span>Help</span></a>
  </div>
  <div class="navbar-userspecific">
      <a href="https://github.com/{{username}}"><span><img src="{{avatar}}">{{username}}</span></a>
      <a href="https://github.com/new"><span class="octicon octicon-plus"></span></a>
      <a href="https://github.com/notifications">
        <span class="octicon octicon-triangle-down"></span>
        <span class="octicon octicon-inbox"></span>
      </a>
      <a href="https://www.github.com/settings/profile"><span class="octicon octicon-gear"></span></a>
      <span class="octicon octicon-sign-out"></span>
  </div>
</nav>
