@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;


/*==========================================
BODY
==========================================*/

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

.main-container {
  margin: 0 auto;
  width: 1000px;
}

/*==========================================
NAV
==========================================*/

nav {
  margin: 0 auto;
  height: 50px;
  width: 100%;
}

nav img {
  height: 20px;
  width: 20px;
  border-radius: 3px;
}

.navbar-general,
.navbar-userspecific {
  display: inline-block;
}

/*==========================================
SIDEBAR
==========================================*/

sidebar {
  display: inline-block;
  width: 25%;
}

sidebar img {
  height: 230px;
  width: 230px;
  border-radius: 6px;
}

sidebar ul {
  padding: 0;
}

sidebar li {
  list-style: none;
}

/*==========================================
CONTENT
==========================================*/

section.content {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}

.content li {
  display: inline-block;
  list-style: none;
}

.edit-profile {
  float: right;
}

.repositories-search,
.repositories-filter-types {
  display: inline-block;
}

.repository-name {
  display: inline-block;
}

.repository-stats {
  display: inline-block;
  vertical-align: top;
  float: right;
}

.repository-stats li {
  display: inline-block;
  list-style: none;
}





/*==========================================
FOOTER
==========================================*/
